
.my-div {
  height: 100px;
  width: 200px;
}
.unscrollbar-wrapper {
  overflow: hidden;
}
.unscrollbar-content {
  width: calc(100% + 10px);
  height: 100%;
  overflow: auto;
}











































































.ui-select ul {
  padding: 0;
  overflow-y: scroll;
}
.ui-select>.ui-button {
  width: 100%;
  text-align: left;
}
.ui-select .ui-input {
  width: 100%;
}
.ui-select .ui-menu {
  margin-top: 5px;
  width: 100%;
  min-width: 0;
  position: absolute;
  z-index: 1000
}
