@font-face {
  font-family: "Icons16";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icons/icons-16.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/icons-16.woff") format("woff"), url("../fonts/icons/icons-16.ttf") format("truetype"); }

@font-face {
  font-family: "Icons20";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icons/icons-20.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/icons-20.woff") format("woff"), url("../fonts/icons/icons-20.ttf") format("truetype"); }


.ui-icon, .ui-icon-standard, .ui-icon-large {
  display: inline-block; }

span.ui-icon-standard {
  line-height: 1;
  font-family: "Icons16", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

span.ui-icon-large {
  line-height: 1;
  font-family: "Icons20", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

span.ui-icon {
  line-height: 1;
  font-family: "Icons20";
  font-size: inherit;
  font-weight: 400;
  font-style: normal; }
  span.ui-icon::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; }

.ui-icon-blank::before {
  content: ""; }

.ui-icon-style::before {
  content: ""; }

.ui-icon-align-left::before {
  content: ""; }

.ui-icon-align-center::before {
  content: ""; }

.ui-icon-align-right::before {
  content: ""; }

.ui-icon-align-justify::before {
  content: ""; }

.ui-icon-bold::before {
  content: ""; }

.ui-icon-italic::before {
  content: ""; }

.ui-icon-underline::before {
  content: "⎁"; }

.ui-icon-search-around::before {
  content: ""; }

.ui-icon-graph-remove::before {
  content: ""; }

.ui-icon-group-objects::before {
  content: ""; }

.ui-icon-merge-links::before {
  content: ""; }

.ui-icon-layout::before {
  content: ""; }

.ui-icon-layout-auto::before {
  content: ""; }

.ui-icon-layout-circle::before {
  content: ""; }

.ui-icon-layout-hierarchy::before {
  content: ""; }

.ui-icon-layout-grid::before {
  content: ""; }

.ui-icon-layout-group-by::before {
  content: ""; }

.ui-icon-layout-skew-grid::before {
  content: ""; }

.ui-icon-geosearch::before {
  content: ""; }

.ui-icon-heatmap::before {
  content: ""; }

.ui-icon-drive-time::before {
  content: ""; }

.ui-icon-select::before {
  content: ""; }

.ui-icon-predictive-analysis::before {
  content: ""; }

.ui-icon-layers::before {
  content: ""; }

.ui-icon-locate::before {
  content: ""; }

.ui-icon-bookmark::before {
  content: ""; }

.ui-icon-citation::before {
  content: ""; }

.ui-icon-tag::before {
  content: ""; }

.ui-icon-clipboard::before {
  content: ""; }

.ui-icon-selection::before {
  content: "⦿"; }

.ui-icon-timeline-events::before {
  content: ""; }

.ui-icon-timeline-line-chart::before {
  content: ""; }

.ui-icon-timeline-bar-chart::before {
  content: ""; }

.ui-icon-applications::before {
  content: ""; }

.ui-icon-projects::before {
  content: ""; }

.ui-icon-changes::before {
  content: ""; }

.ui-icon-notifications::before {
  content: ""; }

.ui-icon-lock::before {
  content: ""; }

.ui-icon-unlock::before {
  content: ""; }

.ui-icon-user::before {
  content: ""; }

.ui-icon-search-template::before {
  content: ""; }

.ui-icon-inbox::before {
  content: ""; }

.ui-icon-more::before {
  content: ""; }

.ui-icon-help::before {
  content: "?"; }

.ui-icon-calendar::before {
  content: ""; }

.ui-icon-media::before {
  content: ""; }

.ui-icon-link::before {
  content: ""; }

.ui-icon-share::before {
  content: ""; }

.ui-icon-download::before {
  content: ""; }

.ui-icon-document::before {
  content: ""; }

.ui-icon-properties::before {
  content: ""; }

.ui-icon-import::before {
  content: ""; }

.ui-icon-export::before {
  content: ""; }

.ui-icon-minimize::before {
  content: ""; }

.ui-icon-maximize::before {
  content: ""; }

.ui-icon-tick::before {
  content: "✓"; }

.ui-icon-cross::before {
  content: "✗"; }

.ui-icon-plus::before {
  content: "+"; }

.ui-icon-minus::before {
  content: "−"; }

.ui-icon-arrow-left::before {
  content: "←"; }

.ui-icon-arrow-right::before {
  content: "→"; }

.ui-icon-exchange::before {
  content: ""; }

.ui-icon-comparison::before {
  content: ""; }

.ui-icon-list::before {
  content: "☰"; }

.ui-icon-filter::before {
  content: ""; }

.ui-icon-confirm::before {
  content: ""; }

.ui-icon-fork::before {
  content: ""; }

.ui-icon-trash::before {
  content: ""; }

.ui-icon-person::before {
  content: ""; }

.ui-icon-people::before {
  content: ""; }

.ui-icon-add::before {
  content: ""; }

.ui-icon-remove::before {
  content: ""; }

.ui-icon-geolocation::before {
  content: ""; }

.ui-icon-zoom-in::before {
  content: ""; }

.ui-icon-zoom-out::before {
  content: ""; }

.ui-icon-refresh::before {
  content: ""; }

.ui-icon-delete::before {
  content: ""; }

.ui-icon-cog::before {
  content: ""; }

.ui-icon-flag::before {
  content: "⚑"; }

.ui-icon-pin::before {
  content: ""; }

.ui-icon-warning-sign::before {
  content: ""; }

.ui-icon-error::before {
  content: ""; }

.ui-icon-info-sign::before {
  content: "ℹ"; }

.ui-icon-credit-card::before {
  content: ""; }

.ui-icon-edit::before {
  content: "✎"; }

.ui-icon-history::before {
  content: ""; }

.ui-icon-search::before {
  content: ""; }

.ui-icon-log-out::before {
  content: ""; }

.ui-icon-star::before {
  content: "★"; }

.ui-icon-star-empty::before {
  content: "☆"; }

.ui-icon-sort-alphabetical::before {
  content: ""; }

.ui-icon-sort-numerical::before {
  content: ""; }

.ui-icon-sort::before {
  content: ""; }

.ui-icon-folder-open::before {
  content: ""; }

.ui-icon-folder-close::before {
  content: ""; }

.ui-icon-folder-shared::before {
  content: ""; }

.ui-icon-caret-up::before {
  content: "⌃"; }

.ui-icon-caret-right::before {
  content: "〉"; }

.ui-icon-caret-down::before {
  content: "⌄"; }

.ui-icon-caret-left::before {
  content: "〈"; }

.ui-icon-menu-open::before {
  content: ""; }

.ui-icon-menu-closed::before {
  content: ""; }

.ui-icon-feed::before {
  content: ""; }

.ui-icon-two-columns::before {
  content: ""; }

.ui-icon-one-column::before {
  content: ""; }

.ui-icon-dot::before {
  content: "•"; }

.ui-icon-property::before {
  content: ""; }

.ui-icon-time::before {
  content: "⏲"; }

.ui-icon-disable::before {
  content: ""; }

.ui-icon-unpin::before {
  content: ""; }

.ui-icon-flows::before {
  content: ""; }

.ui-icon-new-text-box::before {
  content: ""; }

.ui-icon-new-link::before {
  content: ""; }

.ui-icon-new-object::before {
  content: ""; }

.ui-icon-path-search::before {
  content: ""; }

.ui-icon-automatic-updates::before {
  content: ""; }

.ui-icon-page-layout::before {
  content: ""; }

.ui-icon-code::before {
  content: ""; }

.ui-icon-map::before {
  content: ""; }

.ui-icon-search-text::before {
  content: ""; }

.ui-icon-envelope::before {
  content: "✉"; }

.ui-icon-paperclip::before {
  content: ""; }

.ui-icon-label::before {
  content: ""; }

.ui-icon-globe::before {
  content: ""; }

.ui-icon-home::before {
  content: "⌂"; }

.ui-icon-th::before {
  content: ""; }

.ui-icon-th-list::before {
  content: ""; }

.ui-icon-th-derived::before {
  content: ""; }

.ui-icon-circle::before {
  content: ""; }

.ui-icon-draw::before {
  content: ""; }

.ui-icon-insert::before {
  content: ""; }

.ui-icon-helper-management::before {
  content: ""; }

.ui-icon-send-to::before {
  content: ""; }

.ui-icon-eye-open::before {
  content: ""; }

.ui-icon-folder-shared-open::before {
  content: ""; }

.ui-icon-social-media::before {
  content: ""; }

.ui-icon-arrow-up::before {
  content: "↑"; }

.ui-icon-arrow-down::before {
  content: "↓"; }

.ui-icon-arrows-horizontal::before {
  content: "↔"; }

.ui-icon-arrows-vertical::before {
  content: "↕"; }

.ui-icon-resolve::before {
  content: ""; }

.ui-icon-graph::before {
  content: ""; }

.ui-icon-briefcase::before {
  content: ""; }

.ui-icon-dollar::before {
  content: "$"; }

.ui-icon-ninja::before {
  content: ""; }

.ui-icon-delta::before {
  content: "Δ"; }

.ui-icon-barcode::before {
  content: ""; }

.ui-icon-torch::before {
  content: ""; }

.ui-icon-widget::before {
  content: ""; }

.ui-icon-unresolve::before {
  content: ""; }

.ui-icon-offline::before {
  content: ""; }

.ui-icon-zoom-to-fit::before {
  content: ""; }

.ui-icon-add-to-artifact::before {
  content: ""; }

.ui-icon-map-marker::before {
  content: ""; }

.ui-icon-chart::before {
  content: ""; }

.ui-icon-control::before {
  content: ""; }

.ui-icon-multi-select::before {
  content: ""; }

.ui-icon-direction-left::before {
  content: ""; }

.ui-icon-direction-right::before {
  content: ""; }

.ui-icon-database::before {
  content: ""; }

.ui-icon-pie-chart::before {
  content: ""; }

.ui-icon-full-circle::before {
  content: ""; }

.ui-icon-square::before {
  content: ""; }

.ui-icon-print::before {
  content: "⎙"; }

.ui-icon-presentation::before {
  content: ""; }

.ui-icon-ungroup-objects::before {
  content: ""; }

.ui-icon-chat::before {
  content: ""; }

.ui-icon-comment::before {
  content: ""; }

.ui-icon-circle-arrow-right::before {
  content: ""; }

.ui-icon-circle-arrow-left::before {
  content: ""; }

.ui-icon-circle-arrow-up::before {
  content: ""; }

.ui-icon-circle-arrow-down::before {
  content: ""; }

.ui-icon-upload::before {
  content: ""; }

.ui-icon-asterisk::before {
  content: "*"; }

.ui-icon-cloud::before {
  content: "☁"; }

.ui-icon-cloud-download::before {
  content: ""; }

.ui-icon-cloud-upload::before {
  content: ""; }

.ui-icon-repeat::before {
  content: ""; }

.ui-icon-move::before {
  content: ""; }

.ui-icon-chevron-left::before {
  content: ""; }

.ui-icon-chevron-right::before {
  content: ""; }

.ui-icon-chevron-up::before {
  content: ""; }

.ui-icon-chevron-down::before {
  content: ""; }

.ui-icon-random::before {
  content: ""; }

.ui-icon-fullscreen::before {
  content: ""; }

.ui-icon-log-in::before {
  content: ""; }

.ui-icon-heart::before {
  content: "♥"; }

.ui-icon-office::before {
  content: ""; }

.ui-icon-duplicate::before {
  content: ""; }

.ui-icon-ban-circle::before {
  content: ""; }

.ui-icon-camera::before {
  content: ""; }

.ui-icon-mobile-video::before {
  content: ""; }

.ui-icon-video::before {
  content: ""; }

.ui-icon-film::before {
  content: ""; }

.ui-icon-settings::before {
  content: ""; }

.ui-icon-volume-off::before {
  content: ""; }

.ui-icon-volume-down::before {
  content: ""; }

.ui-icon-volume-up::before {
  content: ""; }

.ui-icon-music::before {
  content: ""; }

.ui-icon-step-backward::before {
  content: ""; }

.ui-icon-fast-backward::before {
  content: ""; }

.ui-icon-pause::before {
  content: ""; }

.ui-icon-stop::before {
  content: ""; }

.ui-icon-play::before {
  content: ""; }

.ui-icon-fast-forward::before {
  content: ""; }

.ui-icon-step-forward::before {
  content: ""; }

.ui-icon-eject::before {
  content: "⏏"; }

.ui-icon-record::before {
  content: ""; }

.ui-icon-desktop::before {
  content: ""; }

.ui-icon-phone::before {
  content: "☎"; }

.ui-icon-lightbulb::before {
  content: ""; }

.ui-icon-glass::before {
  content: ""; }

.ui-icon-tint::before {
  content: ""; }

.ui-icon-flash::before {
  content: ""; }

.ui-icon-font::before {
  content: ""; }

.ui-icon-header::before {
  content: ""; }

.ui-icon-saved::before {
  content: ""; }

.ui-icon-floppy-disk::before {
  content: ""; }

.ui-icon-book::before {
  content: ""; }

.ui-icon-hand-right::before {
  content: ""; }

.ui-icon-hand-up::before {
  content: ""; }

.ui-icon-hand-down::before {
  content: ""; }

.ui-icon-hand-left::before {
  content: ""; }

.ui-icon-thumbs-up::before {
  content: ""; }

.ui-icon-thumbs-down::before {
  content: ""; }

.ui-icon-box::before {
  content: ""; }

.ui-icon-compressed::before {
  content: ""; }

.ui-icon-shopping-cart::before {
  content: ""; }

.ui-icon-shop::before {
  content: ""; }

.ui-icon-layout-linear::before {
  content: ""; }

.ui-icon-undo::before {
  content: "⎌"; }

.ui-icon-redo::before {
  content: ""; }

.ui-icon-code-block::before {
  content: ""; }

.ui-icon-double-caret-vertical::before {
  content: ""; }

.ui-icon-double-caret-horizontal::before {
  content: ""; }

.ui-icon-sort-alphabetical-desc::before {
  content: ""; }

.ui-icon-sort-numerical-desc::before {
  content: ""; }

.ui-icon-take-action::before {
  content: ""; }

.ui-icon-contrast::before {
  content: ""; }

.ui-icon-eye-off::before {
  content: ""; }

.ui-icon-timeline-area-chart::before {
  content: ""; }

.ui-icon-doughnut-chart::before {
  content: ""; }

.ui-icon-layer::before {
  content: ""; }

.ui-icon-grid::before {
  content: ""; }

.ui-icon-polygon-filter::before {
  content: ""; }

.ui-icon-add-to-folder::before {
  content: ""; }

.ui-icon-layout-balloon::before {
  content: ""; }

.ui-icon-layout-sorted-clusters::before {
  content: ""; }

.ui-icon-sort-asc::before {
  content: ""; }

.ui-icon-sort-desc::before {
  content: ""; }

.ui-icon-small-cross::before {
  content: ""; }

.ui-icon-small-tick::before {
  content: ""; }

.ui-icon-power::before {
  content: ""; }

.ui-icon-column-layout::before {
  content: ""; }

.ui-icon-arrow-top-left::before {
  content: "↖"; }

.ui-icon-arrow-top-right::before {
  content: "↗"; }

.ui-icon-arrow-bottom-right::before {
  content: "↘"; }

.ui-icon-arrow-bottom-left::before {
  content: "↙"; }

.ui-icon-mugshot::before {
  content: ""; }

.ui-icon-headset::before {
  content: ""; }

.ui-icon-text-highlight::before {
  content: ""; }

.ui-icon-hand::before {
  content: ""; }

.ui-icon-chevron-backward::before {
  content: ""; }

.ui-icon-chevron-forward::before {
  content: ""; }

.ui-icon-rotate-document::before {
  content: ""; }

.ui-icon-rotate-page::before {
  content: ""; }

.ui-icon-badge::before {
  content: ""; }

.ui-icon-grid-view::before {
  content: ""; }

.ui-icon-function::before {
  content: ""; }

.ui-icon-waterfall-chart::before {
  content: ""; }

.ui-icon-stacked-chart::before {
  content: ""; }

.ui-icon-pulse::before {
  content: ""; }

.ui-icon-new-person::before {
  content: ""; }

.ui-icon-exclude-row::before {
  content: ""; }

.ui-icon-pivot-table::before {
  content: ""; }

.ui-icon-segmented-control::before {
  content: ""; }

.ui-icon-highlight::before {
  content: ""; }

.ui-icon-filter-list::before {
  content: ""; }

.ui-icon-cut::before {
  content: ""; }

.ui-icon-annotation::before {
  content: ""; }

.ui-icon-pivot::before {
  content: ""; }

.ui-icon-ring::before {
  content: ""; }

.ui-icon-heat-grid::before {
  content: ""; }

.ui-icon-gantt-chart::before {
  content: ""; }

.ui-icon-variable::before {
  content: ""; }

.ui-icon-manual::before {
  content: ""; }

.ui-icon-add-row-top::before {
  content: ""; }

.ui-icon-add-row-bottom::before {
  content: ""; }

.ui-icon-add-column-left::before {
  content: ""; }

.ui-icon-add-column-right::before {
  content: ""; }

.ui-icon-remove-row-top::before {
  content: ""; }

.ui-icon-remove-row-bottom::before {
  content: ""; }

.ui-icon-remove-column-left::before {
  content: ""; }

.ui-icon-remove-column-right::before {
  content: ""; }

.ui-icon-double-chevron-left::before {
  content: ""; }

.ui-icon-double-chevron-right::before {
  content: ""; }

.ui-icon-double-chevron-up::before {
  content: ""; }

.ui-icon-double-chevron-down::before {
  content: ""; }

.ui-icon-key-control::before {
  content: ""; }

.ui-icon-key-command::before {
  content: ""; }

.ui-icon-key-shift::before {
  content: ""; }

.ui-icon-key-backspace::before {
  content: ""; }

.ui-icon-key-delete::before {
  content: ""; }

.ui-icon-key-escape::before {
  content: ""; }

.ui-icon-key-enter::before {
  content: ""; }

.ui-icon-calculator::before {
  content: ""; }

.ui-icon-horizontal-bar-chart::before {
  content: ""; }

.ui-icon-small-plus::before {
  content: ""; }

.ui-icon-small-minus::before {
  content: ""; }

.ui-icon-step-chart::before {
  content: ""; }

.ui-icon-euro::before {
  content: "€"; }

.ui-icon-drag-handle-vertical::before {
  content: ""; }

.ui-icon-drag-handle-horizontal::before {
  content: ""; }

.ui-icon-mobile-phone::before {
  content: ""; }

.ui-icon-sim-card::before {
  content: ""; }

.ui-icon-trending-up::before {
  content: ""; }

.ui-icon-trending-down::before {
  content: ""; }

.ui-icon-curved-range-chart::before {
  content: ""; }

.ui-icon-vertical-bar-chart-desc::before {
  content: ""; }

.ui-icon-horizontal-bar-chart-desc::before {
  content: ""; }

.ui-icon-document-open::before {
  content: ""; }

.ui-icon-document-share::before {
  content: ""; }

.ui-icon-horizontal-distribution::before {
  content: ""; }

.ui-icon-vertical-distribution::before {
  content: ""; }

.ui-icon-alignment-left::before {
  content: ""; }

.ui-icon-alignment-vertical-center::before {
  content: ""; }

.ui-icon-alignment-right::before {
  content: ""; }

.ui-icon-alignment-top::before {
  content: ""; }

.ui-icon-alignment-horizontal-center::before {
  content: ""; }

.ui-icon-alignment-bottom::before {
  content: ""; }

.ui-icon-git-pull::before {
  content: ""; }

.ui-icon-git-merge::before {
  content: ""; }

.ui-icon-git-branch::before {
  content: ""; }

.ui-icon-git-commit::before {
  content: ""; }

.ui-icon-git-push::before {
  content: ""; }

.ui-icon-build::before {
  content: ""; }

.ui-icon-symbol-circle::before {
  content: ""; }

.ui-icon-symbol-square::before {
  content: ""; }

.ui-icon-symbol-diamond::before {
  content: ""; }

.ui-icon-symbol-cross::before {
  content: ""; }

.ui-icon-symbol-triangle-up::before {
  content: ""; }

.ui-icon-symbol-triangle-down::before {
  content: ""; }

.ui-icon-wrench::before {
  content: ""; }

.ui-icon-application::before {
  content: ""; }

.ui-icon-send-to-graph::before {
  content: ""; }

.ui-icon-send-to-map::before {
  content: ""; }

.ui-icon-join-table::before {
  content: ""; }

.ui-icon-derive-column::before {
  content: ""; }

.ui-icon-image-rotate-left::before {
  content: ""; }

.ui-icon-image-rotate-right::before {
  content: ""; }

.ui-icon-known-vehicle::before {
  content: ""; }

.ui-icon-unknown-vehicle::before {
  content: ""; }

.ui-icon-scatter-plot::before {
  content: ""; }

.ui-icon-oil-field::before {
  content: ""; }

.ui-icon-rig::before {
  content: ""; }

.ui-icon-map-create::before {
  content: ""; }

.ui-icon-key-option::before {
  content: ""; }

.ui-icon-list-detail-view::before {
  content: ""; }

.ui-icon-swap-vertical::before {
  content: ""; }

.ui-icon-swap-horizontal::before {
  content: ""; }

.ui-icon-numbered-list::before {
  content: ""; }

.ui-icon-new-grid-item::before {
  content: ""; }

.ui-icon-git-repo::before {
  content: ""; }

.ui-icon-git-new-branch::before {
  content: ""; }

.ui-icon-manually-entered-data::before {
  content: ""; }

.ui-icon-airplane::before {
  content: ""; }

.ui-icon-merge-columns::before {
  content: ""; }

.ui-icon-split-columns::before {
  content: ""; }

.ui-icon-dashboard::before {
  content: ""; }

.ui-icon-publish-function::before {
  content: ""; }

.ui-icon-path::before {
  content: ""; }

.ui-icon-moon::before {
  content: ""; }

.ui-icon-remove-column::before {
  content: ""; }

.ui-icon-numerical::before {
  content: ""; }

.ui-icon-key-tab::before {
  content: ""; }

.ui-icon-regression-chart::before {
  content: ""; }

.ui-icon-translate::before {
  content: ""; }

.ui-icon-eye-on::before {
  content: ""; }

.ui-icon-vertical-bar-chart-asc::before {
  content: ""; }

.ui-icon-horizontal-bar-chart-asc::before {
  content: ""; }

.ui-icon-grouped-bar-chart::before {
  content: ""; }

.ui-icon-full-stacked-chart::before {
  content: ""; }

.ui-icon-endorsed::before {
  content: ""; }

.ui-icon-follower::before {
  content: ""; }

.ui-icon-following::before {
  content: ""; }
